.LandingPageMenu {
  .--menu-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    margin: 23% 10%;
    width: 20vw;
  }

  .--menu-options-background {
    position: inherit;
    z-index: 10px;
  }

  .--menu-option {
    font-size: 20px;
    font-weight: 600px;
  }

  .FadedButton {
    cursor: pointer;
  }
}