.LandingPage {
  &.--background {
    background-image: url('../../img/bg/landing.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .--nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .--content-container {
    position: relative;
    height: 100vh;
    max-width: 100%;
  }

  .--logo-img {
    width: 40%;
  }
}