.ConditionForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .--options-container {
    width: 100%;
    margin: 20px 0;

    &.--multiple-selects {
      margin-bottom: 50px;
    }

    label {
      margin: 40px 0;

      em {
        font-family: "Cantarell-BoldItalic", sans-serif;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ConditionForm {
    .painDeegree {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}