.ConfirmEmailChange {
  .--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }

  .--action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}