.CredentialForm {
  .--input-container {
    position: relative;
    width: 100%;
    margin: 5px 0;

    .fa-eye {
      left: calc(100% - 25px);
    }

    .fa-eye-slash {
      left: calc(100% - 28px);
    }

    input {
      background-color: unset;
      border: 2px solid #658FCE;
      padding: 10px;
      border-radius: 8px;
      color: #FFF;
      width: calc(100% - 20px);

      &#password {
        padding-right: 30px;
        width: calc(100% - 39px)
      }
    }

    .fa-eye, .fa-eye-slash {
      position: absolute;
      top: 11px;
    }
  }

  .--instruction {
    margin: 0px auto 20px;
  }

  .--button {
    padding: 10px 0;
    text-align: center;
    margin: 0px;
  }
  
  .fa-arrow-left-long {
    margin-right: 5px;
  }
}

