.Notification {
  position: fixed;
  bottom: 0vh;
  right: 0vh;
  z-index: 1000;
  height: -moz-fit-content;
  height: fit-content;
  width: fit-content;
  min-width: 325px;
  max-width: 325px;
  padding: 5px 20px 30px 20px;
  border-radius: 15px;
  text-align: center;

  &.error {
    background-color: $accent-c-color-transparent;
  }

  &.success {
    background-color: $primary-color-transparent;
  }

  p {
    margin: 0px;
    text-align: center;
  }
}