.PasswordReset, 
.PasswordRegister,
.PatientLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.--background {
    height: 100vh;
    width: 100vw;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../img/bg/homepage\ copy.png');
  
    // &.--OCEAN {
    //   background-image: url('../../img/bg/homepage-OCEAN.png');
    // }
    
    // &.--DEEP_OCEAN {
    //   background-image: url('../../img/bg/homepage-DEEP_OCEAN.png');
    // }
  }

  .--unauthenticated {
    text-align: center;
  }

  .CredentialForm {
    position: relative;
    width: 260px;
    height: -moz-fit-content;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .FadedBgButton {
      .--button-text {
        top: 19%;
      }
    }
  }
}