.PatientProfileForm {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .--input-container {
    width: 45%;
    padding: 2%;
  }

  .--address-input-container {
    width: 94%;
    padding-left: 2%;
  }

  input {
    width: calc(100% - 10px);
  }

  span {
    padding-left: 10px;
    font-style: italic;
  }
}