.ProgressBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;

  .--progress-label-container {
    width: 26px;

    .--progress-label {
      padding-left: 8px;
    }
  }

  .--progress-label-container,
  .--progress-indicator {
    background-color: $accent-a-color;

    &.isCompleted-1 {
      background-color: $accent-c-color;
    }

    &.isCompleted-2 {
      background-color: $accent-c-color;
    }

    &.isCompleted-3 {
      background-color: $accent-c-color;
    }

    &.isCompleted-4 {
      background-color: $secondary-color;
    }

    &.isCompleted-5 {
      background-color: $secondary-color;
    }

    &.isCompleted-6 {
      background-color: $secondary-color;
    }

    &.isCompleted-7 {
      background-color: $primary-color;
    }
  }

  .--progress-indicator {
    height: 5px;
  }
  } 
}

.--pagination {
  margin-bottom: 40px;
}

@media screen and (max-width: 413px) {
  .ProgressBar {
    padding: 10px 0;
  }

  .--pagination {
    margin: 0px
  }
}