.Homepage.--DEEP_OCEAN {
  .--theme-text {
    color: $primary-color;
  }

  .--radio {
    background-color: $ocean;
  }

  .--modal {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .Login {
    .--modal {
      background-color: rgba(0,0,0,0.9)
    }
  }
}

.Homepage.--OCEAN {
  .--theme-text {
    color: $primary-color;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 1)
  }

  .--radio {
    background-color: $primary-color;
  }

  .--modal {
    background-color: rgba(43, 71, 107, 0.9)
  }

  .Login {
    .--modal {
      background-color: rgba(43, 71, 107, 0.9)
    }
  }
}

.ThemeToggle {
  display: flex;
  flex-direction:row;
  padding-left: 20px;

  .--button.-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 105px;
  }

  .--radio {
    border-radius: 7px;
    width: 10px;
    height: 25px;
    margin-right: 5px;

    &.--selected {
      h1 {
        position: relative;
        top: -9px;
        left: -9px;
        font-size: 30px;
        margin: 0;
        color: $secondary-color;
      }
    }
  }

  .--theme-text {
    color: $ocean;
    font-weight: 700;

    &.--selected {
      color: $secondary-color;
    }
  }
}

