.Input {
  input {
    width: calc(100% - 25px);
  }

  span {
    padding-left: 10px;
    font-style: italic;
  }

  .--invalid {
    border: 2px solid $accent-c-color;

    &:focus, &:active {
      border: 2px solid $accent-c-color;
    }
  }

  .--required {
    color: $accent-c-color;
  }
}