.LabeledInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  label {
    width: 65%;
    margin-right: 10px;
  }

  .DetailedInput {
    width: 34%;
  }

  span {
    padding-left: 10px;
    font-style: italic;
  }

  .--invalid {
    border: 2px solid $accent-c-color;

    &:focus, &:active {
      border: 2px solid $accent-c-color;
    }
  }

  .--required {
    color: $accent-c-color;
  }
}