.HomepageTopics {
  // padding: 7.6% 0 0 12%;
  height: 1360px;
  width: 100%;
  margin: 0 auto 100px auto;

  // position: absolute;
  // width: 100%;
  // left: -8%;

  .--content-container {
    width: calc(100% - 37%);
    margin: 0 auto;
  }

  .--header {
    position: relative;
    top: -40px;
    width: fit-content;
  }

  &.--topics-container {
    position: relative;
    width: 50%;
    padding-top: 12%;
    min-height: 596px;
  }

  .--modal-container {
    // position: absolute;
    width: 100%;
    // left: -10%;
    text-align: left;
  }

  .--modal {
      position: absolute;
      z-index: 1000;
      height: -moz-fit-content;
      height: fit-content;
      border: 3px solid #FFC655;
      border-radius: 60px;
      padding: 25px;
      // top: 20%;
      // left: 40%;
      top: 2%;
      left: 30%;
      // width: 500px;
      width: 700px;
      // max-width: 500px;
      // min-width: 45%;

      // NOTE: keep this here for possible future iteration
      // &.-box-0 {
      //   top: 20%;
      // }
  
      // &.-box-1 {
      //   top: 39%;
      // }

      // &.-box-2 {
      //   top: 68%;
      // }

      // &.-box-3 {
      //   top: 80%;
      // }

      em {
        font-family: 'Cantarell-Bold', sans-serif 
      }
  }

  .--panes-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .--left-pane {
      width: 58%;
      margin-right: 2%;
      border-right: 1px solid $secondary-color;
      padding-right: 2%;

      .--minus-margin {
        margin-top: -8px;
      }
    }

    .--right-pane {
      width: 37%;

      img {
        width: 100%;
      }
    }
  }
}


// @media screen and (max-width: 1219px) {
//   .HomepageTopics {
//     .--modal-container {
//       .--modal {
//         left: 41%
//       }
//     }
//   }
// }

@media screen and (max-width: 1149px) {
  .HomepageTopics {
    .--content-container {
      // width: calc(100% - 10%);
      width: 100%;
    }
    
    .--modal {
      width: calc(100% - 44%);
    }
  }
}

@media screen and (max-width: 1034px) {
  .HomepageTopics {
    .--modal-container {
      .--modal {
        position: relative;
        left: 0%;
        width: 77%;

        .--panes-container {
          .--left-pane,
          .--right-pane {
            width: 100%
          }

          .--left-pane {
            margin-right: unset;
            border-right: unset;
            padding-right: unset;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 766px) {
  .HomepageTopics {
    .--modal-container {
      .--modal {
        // position: absolute;
        // width: 78%;
        // left: -9%;
        // width: calc(100% + 17px);
        border-radius: 30px;
        padding: 22px 15px;
      }
    }
  }
}