.HomepageStory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin: 500px auto 0 auto;

  .--icon-container {
    display: flex;
    justify-content: center;

    .smaller {
      height: 150px;
    }

    .larger {
      height: 170px;
    }
  }

  .--story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 38%;
    width: calc(100% - 44%);
    background-color: rgba(255,255,255,.2);
    border-radius: 35px;
    padding: 20px;

    .--story-content {
      width: 100%;
      padding: 12px;
    }
  }
}

@media screen and (max-width: 1149px) {
  .HomepageStory {
    .--story-container {
      width: calc(100% - 10%);
    }
  }
}

@media screen and (max-width: 430px) {
  .HomepageStory {
    .--icon-container {
      .smaller {
        height: 90px;
      }

      .larger {
        height: 110px;
      }
    }

    .--story-container {
      // width: 90%;
      
      img {
        width: 140px;
      }
    }
  }
}