.HomepageContact {
  position: relative;
  bottom: 0%;
  height: 288px;

  .--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #141414;
    position: absolute;
    bottom: -11px;

    .--column-left,
    .--column-right {
      width: 20%;
    }

    .--column-left {
      padding-left: 20px;
    }

    a {
      display: block;
      font-weight: 700;
    }
    
    .--column-center {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin: 0px;
      }

      img {
        width: 100px;
      }
    }

    .--column-right {
      padding-right: 20px;
      text-align: right;
    }
  }
}

@media screen and (max-width: 645px) {
  .HomepageContact {
    .--container {
      flex-direction: column;
      justify-content: center;
      height: 340px;

      .--column-left {
        text-align: center;
        padding-left: 0px;
      }

      .--column-center {
        padding: 20px 0;
      }
  
      .--column-right {
        padding-right: 0px;
        text-align: center;
      }

      .--column-left,
      .--column-right {
        width: 100%;
      }
    }
  }
}