.HomepageTopics {
  padding: 7.6% 0 0 12%;
  height: 1360px;

  &.--topics-container {
    position: relative;
    width: 50%;
    padding-top: 12%;
    min-height: 596px;
  }

  .--modal-container {
    text-align: left;

    .--modal {
      width: 530px;
      left: 47%;

      &.-box-0 {
        top: 20%;
      }
  
      &.-box-1 {
        top: 39%;
      }

      &.-box-2 {
        top: 68%;
      }

      &.-box-3 {
        top: 80%;
      }

      em {
        font-family: 'Cantarell-Bold', sans-serif 
      }
    }
  }
}


@media screen and (max-width: 1219px) {
  .HomepageTopics {
    .--modal-container {
      .--modal {
        left: 41%
      }
    }
  }
}

@media screen and (max-width: 1034px) {
  .HomepageTopics {
    .--modal-container {
      .--modal {
        position: relative;
        left: 0%
      }
    }
  }
}

@media screen and (max-width: 766px) {
  .HomepageTopics {
    .--modal-container {
      .--modal {
        width: 78%;
        border-radius: 30px;
        padding: 22px 15px;
      }
    }
  }
}