.HomepageStory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

  .--icon-container {
    display: flex;
    justify-content: center;

    .smaller {
      height: 150px;
    }

    .larger {
      height: 170px;
    }
  }

  .--story-content {
    width: 27%;
  }
}