.Login,
.Logout {
  position: relative;
  top: 14px;
  left: -68px;
  
  .--modal {
    padding: 15px 15px;
    min-width: 320px;
    max-width: 320px;
    border: none;
    border-radius: 15px;
    box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;

    .CredentialForm {
      .FadedBgButton {
        left: 35px;
      }
    }    
  }
}

.Login {
  left: -68px;
}

.Logout {
  .--modal {
    left: -69px;
  }
}

@media screen and (max-width: 430px) {
  .Login,
  .Logout {
    .--modal {
      left: 6px;
    }
  }
}

