@import './variables.scss';

a {
  color: #FFF;

  &:hover {
    color: $secondary-color;
  }
}

i {
  &.fa-solid.fa-arrow-left-long {
    margin-right: 5px;
  }
}

input {
  background-color: unset;
  border: 2px solid $primary-color;
  padding: 10px;
  border-radius: 8px;
  color: #FFF;

  &:focus, 
  &:active {
    outline: none;
    border: 2px solid $secondary-color !important;
  }

  &::placeholder {
    color: $primary-color;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accented {
  color: $secondary-color;
}

.--button, u {
  cursor: pointer;
}

.--button {
  &.isDisabled {
    cursor: not-allowed;
  }

  &.-exit {
    margin: 0px;
    margin-bottom: 10px;
    text-align: right;
  }
}

.--button-text {
  color: #FFF;

  &:hover {
    color: $secondary-color;
  }

  &.isDisabled {
    color: $accent-a-color;
    cursor: not-allow;
    
    &:hover {
      color: $accent-a-color;  
    }
  }

  &.isFocused {
    color: $secondary-color;
  }
}

.--modal {
  position: absolute;
  z-index: 1000;
  height: fit-content;
  border: 5px solid $secondary-color;
  border-radius: 10%;
  padding: 40px 15px;
}

.--mr-2p {
  margin-right: 2%;
}

.--ml-10px {
  margin-left: 10px;
}

.--m-10px {
  margin: 10px;
}

.--mb-5px {
  margin-bottom: 5px;
}

.--mb-20px {
  margin-bottom: 20px;
}

.--mb-50px {
  margin-bottom: 50px;
}

.--w-100p {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 100%;
  padding: 20px 0;
}

::-webkit-scrollbar-thumb {
  background-color: #FFC655;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  // background-color: #f0f0f0;
  height: 80%;
  border-radius: 25px;
}

::-webkit-scrollbar-corner {
  background-color: #f0f0f0;
}

::-moz-scrollbar {
  width: 4px;
  height: 100%;
  padding: 20px 0;
}

::-moz-scrollbar-thumb {
  background-color: #FFC655;
  border-radius: 25px;
}

::-moz-scrollbar-track {
  background-color: #f0f0f0;
  height: 80%;
  margin: 40px 0;
  padding-right: 20px;
  border-radius: 25px;
}