// $primary-color: #3A5276;
$primary-color: #658FCE;
$secondary-color: #62DAFF;
$accent-a-color: #7F7F7F;
$accent-b-color: #C5DCD1;
$accent-c-color: #FF5252;

$ocean: #2B476B;
$deep-ocean: #06121b;

$primary-color-transparent: rgba(101, 143, 206, 0.8);
$accent-c-color-transparent: rgba(255, 82, 82, 0.8);